@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    color: #282b34;
    font-family: Poppins;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

html {
    scroll-behavior: smooth;
}

.top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ecf3ff;
    height: 20%;
}

.link {
    text-decoration: none;
    color: inherit;
    margin: 15px;
    text-transform: capitalize;
    border-radius: 0.5rem;
    padding: 5px;
}

.logo {
    text-decoration: none;
    color: inherit;
    font-size: 40px;
    font-weight: bolder;
}

.link:hover {
    background-color: #407ff0;
    color: whitesmoke;
}

.home {
    height: 50%;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter {
    display: flex;
    flex-direction: column;
}

#filterBt {
    width: 20%;
    align-self: center;
    margin: 2vh;
    height: 5vh;
    background-color: #ecf3ff;
    border-radius: 2vw;
    color: black;
    font-weight: 400;
    font-size: 150%;
    border-color: #407ff0;
    border-width: 0.2vh;
}

#filterBt:hover {
    background-color: #407ff0;
    color: white;
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.jobList :hover{
    /* transform : translateY(-2px); */
    /* background-color:#ecf3ff ; */
    /* box-shadow: 0 4px 8px #407ff0;  */

}

.job {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 2vw;
    /* background-color: #ecf3ff; */
    transition: box-shadow 0.3s ease;
}
.job:hover{
    box-shadow: 0 0  10px  #407ff0; 
}

.job h2 {
    margin: 0 0 10px;
}

.job p {
    margin: 5px 0;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.combined-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-color:#407ff0;
    border-width: 0.4vh;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height:7vh;
}

.combined-search input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1em;
    outline: none; 
}

.combined-search input:first-child {
    border-right: 1px solid #ccc; 
    margin-right: -1px; 
}

.combined-search input::placeholder {
    color: #999; 
}


.jobList {
    margin: 10vh;
    transition: background-color 0.5s ease;
    
}

.apply-btn{
    margin:2vh;
    height:5vh;
    width:7vw;
    border-radius: 0.5vw;
    background-color:#0096FF ;
}

.apply-btn:hover{
    background-color: #407ff0;
    color: #ecf3ff;
    font-weight: 500;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
