@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family:Poppins;
    background-color: #ecf3ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 10vh auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.content {
    margin-top: 20px; /* Added margin-top for spacing */
}

.profile-row {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.field {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
h1{
    text-align: center;
    margin-top: vh;
    font-size: 250%;
}
.data {
    color: #666;
}

.update {
    margin: 20px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #407ff0;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 5vh;
}

button:hover {
    background-color: #45a049;
}

.update-form {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

.bio {
    display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
